<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryMIS.Properties.Settings.libraryMISConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\libraryMIS.mdb" providerName="System.Data.OleDb"/>
        <add name="LibraryMIS.Properties.Settings.Database1ConnectionString" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="LibraryMIS.Properties.Settings.libraryMISConnectionString1" connectionString="Data Source=ZZTI-SOFTTECH\SQL2005;Initial Catalog=libraryMIS;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
